{% extends 'base.html' %}

{% block content %}
  <h1>{% block title %} Delete a Candidate {% endblock %}</h1>
    <form method="post">
        <p>
        <label for="STEMMESEDDELNAVN">Stemmeseddelnavn</label>
        <br>
        <textarea name="STEMMESEDDELNAVN"
                  placeholder="STEMMESEDDELNAVN"
                  rows="2"
                  cols="45"
                  ></textarea>
        </p>
        <p>
          <button type="submit">Submit</button>
        </p>
    </form>
{% endblock %}